:root {
    --main-purple: #ba68c8;
    --main-purple-dark: #a201be;
    --main-purple-darker: #79008f;
    --main-purple-light: #f0cbf7;
    --main-sand: #ffff88;
    --gray-border: 1px solid #ccc;
}

*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    margin: 0;
    box-sizing: inherit;
    text-decoration: none;
    color: black;
}

a:hover,
a:visited,
a:focus {
    box-sizing: inherit;
    text-decoration: none;
    color: black;
}

button:active,
button:focus {
    outline: none;
}

html {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: max-content 1fr;
    border-bottom: var(--gray-border);
}

header>a {
    margin: 20px 10px 10px 0;
    padding: 0 15px 0 30px;
}

header>a,
footer h1 span {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 3rem;
    border-right: 4px solid var(--main-purple);
}

nav {
    display: flex;
}

nav ul {
    flex: 1;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: flex-end;
}

nav a {
    padding: 10px 8px;
    display: block;
    font-size: 1.7rem;
    margin: 0 8px;
}

nav a:hover,
nav a:focus {
    border-bottom: 5px solid var(--main-purple);
    padding-bottom: 5px;
}

.split-li {
    flex: 1;
}

.split-li form {
    display: grid;
    grid-template-columns: 1fr 30px;
}

.split-li input[type=text] {
    border: none;
    font-size: 17px;
    padding: 5px 34px 5px 12px;
    margin: 5px 4px;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    background: rgb(240, 240, 240);
    border-radius: 15px;
}

.split-li input[type=text]:focus,
.split-li button:focus {
    outline: none;
}

.split-li button {
    width: 100%;
    grid-column: 2/-1;
    grid-row: 1/span 1;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.split-li button i {
    font-weight: bold;
    font-size: 2.5rem;
    transform: translateY(-5px) rotate(-55deg);
    display: block;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 73px minmax(calc(100vh - 150px - 73px - 40px), auto) 150px;
    grid-gap: 20px;
}

.index-wrapper {
    display: grid;
    grid-template-columns: minmax(250px, 2fr) 6fr;
    width: 90%;
    max-width: 1400px;
    grid-gap: 20px;
    margin: 0 auto;
}

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.form-wrapper #post_Content {
    min-height: 200px;
}

.single-post-wrapper {
    display: grid;
    grid-template-columns: 6fr minmax(250px, 2fr);
    align-content: start;
    width: 90%;
    max-width: 1150px;
    grid-gap: 20px;
    margin: 0 auto;
}

.single-post-wrapper article {
    padding-top: 10px;
    grid-template-rows: auto 1fr auto;
}

aside .aside-wrapper {
    border: var(--gray-border);
    border-radius: 5px;
    padding-bottom: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px;
    text-align: center;
}

.profile img {
    margin: 20px;
}

.profile-picture {
    border-radius: 50%;
    background-color: var(--main-purple-light);
}

.following-list {
    padding: 0 10px;
}

.following-list h4 {
    padding: 10px 0;
}

.following-element {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-bottom: var(--gray-border);
}

.following-element:last-child {
    border: none;
}

.following-element:hover {
    background-color: var(--main-purple-light);
}

.following-list>.button-selected {
    background-color: var(--main-purple);
    color: white;
}

.feed-view {
    display: grid;
    grid-template-rows: 50px auto;
    grid-gap: 20px;
    overflow: hidden;
}

.feed-view .filters {
    display: flex;
}

.filters button {
    padding: 0 15px;
    background: none;
    border: none;
    margin-right: 10px;
}

.filters .button-selected {
    border-bottom: 1px solid var(--main-purple);
}

.feed-view .filters>*:last-child {
    margin-left: auto;
    padding: 0 10px;
}

.feed-view .posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-content: start;
}

article {
    border: var(--gray-border);
    padding: 10px 20px;
    border-radius: 5px;
    display: grid;
    align-content: start;
}

article .post-author {
    display: flex;
    font-size: 1.3em;
    height: 40px;
    align-items: center;
    align-content: center;
}

.post-author span {
    padding-left: 10px;
}

article .post-title {
    border-bottom: var(--gray-border);
    padding: 5px 0 5px 0;
    display: block;
}

article .post-content {
    padding: 10px 0;
}

article .post-information {
    display: flex;
}

.post-information div:nth-child(1) {
    flex: 1;
}

footer {
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(200px, 300px) minmax(200px, 300px);
    justify-content: center;
    height: 150px;
    border-top: var(--gray-border);
    padding: 30px;
}

footer ul {
    list-style: none;
}

footer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 span {
    padding: 0 15px;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-links ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer-social li {
    padding: 5px 5px;
}

.user-page,
.user-search {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

.user-page h2 {
    padding-top: 10px;
}

.user-page article {
    margin-top: 20px;
}

.user-search h1 {
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;
}

h1 .search-title {
    font-weight: bold;
}

.user-search .profile {
    border: var(--gray-border);
    border-radius: 5px;
    display: grid;
    align-items: stretch;
    justify-content: stretch;
    grid-template-columns: 150px 1fr auto;
    grid-template-rows: 150px;
}

.user-search .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.profile-info a {
    font-size: 1.5em;
    padding-top: 20px;
}

.follow-button-wrapper {
    display: grid;
    perspective: 1000px;
}

.my-button {
    justify-self: center;
    align-self: start;
    width: 120px;
    padding: 5px 15px;
    margin: 10px 5px;
    border: 4px solid var(--main-purple);
    background-color: white;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
}

.my-button:hover {
    color: #fff;
    background-color: var(--main-purple);
    font-size: 1.2em;
}

.my-button::before {
    content: '';
    width: 20px;
    background-color: var(--main-purple-light);
    opacity: 0.4;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(-30px);
    transition: none;
    transform: skew(-25deg) translateX(0);
}

.my-button:hover::before {
    transform: skew(-25deg) translateX(150px);
    transition: all 0.8s ease-in-out;
}

.profile a,
.profile a:visited,
.profile a h3 {
    color: var(--main-purple-dark);
}

.profile a:hover,
.profile a h3:hover {
    color: var(--main-purple-darker);
}

.profile-info p {}

.post-author a span {
    color: var(--main-purple-dark);
}

.post-author a span:hover {
    color: var(--main-purple-darker);
}

.loading-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loading {
    border: 10px solid #ccc;
    border-top: 10px solid var(--main-purple);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: rotation 1.5s linear infinite;
}

.loading-text {
    color: var(--main-purple);
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

.animate-in {
    opacity: 0;
    animation: animate-in 0.6s forwards ease-out;
}

@keyframes animate-in {
    from {
        transform: scale(0.4);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 775px) {
    * {
        background-color: #0F0;
    }
}