{% extends "base.html.twig" %} {% block body %}
<article>
    <h3>
        {{ post.Title }}
    </h3>
    <p id="post_content">
        {{ post.Content | nl2br }}
    </p>
    <div id="post_information">
        <i>
            {{ post.DatePosted | date('Y-m-d H:m') }}
        </i>
        <p>{{ post.User.DisplayName }}</p>
    </div>
<article>
{% endblock %}